*.env*
/certs/*
.DS_Store
/terraform/**/*.tfstate
/terraform/**/*.tfstate.backup
/terraform/**/*.tfsvars
/terraform/**/*.terraform.lock.hcl
/terraform/minikube/.logs/*
/terraform/minikube/.terraform/**