# APPLICATION_ROOT is where the application code / compiled code is located.
# For development this is the src folder, for production this should be app / other that
# is relevant to your configuration requirement
APPLICATION_ROOT=app
# This file contains the configuration for the reactory server.
# The configuration is used to set the environment variables for the server instance.
# You can add additional environment variables to this file, but you should not
# remove any of the variables that are already in the file as they are used by
# the application.
# The REACTORY_APPLICATION_* variables are used to create the initial
# admin user for the application.  This user will be able to create
# additional users and manage the application.
REACTORY_APPLICATION_EMAIL=reactory@reactory.net
# The REACTORY_APPLICATION_USERNAME is the username used for the reactory
# base application that ships with the reactory-core package.
REACTORY_APPLICATION_USERNAME=reactory
# The REACTORY_APPLICATION_PASSWORD is the password used for the reactory
# base application that ships with the reactory-core package. This password
# needs to be added to your client configuration as well.
REACTORY_APPLICATION_PASSWORD=YOUR_REACTORY_APPLICATION_PASSWORD_HERE
# The SERVER_ID is the name of the server.  This is used to identify the
# server in the application.  It is also used to identify the server in
# the logs.
SERVER_ID=reactory-podman
# The APP_DATA_ROOT is the root folder for the application data.  This
# folder will contain templates, pdfs, and other files that are used
# by the application. It will also store profile images and other
# user and organization data.
APP_DATA_ROOT=/reactory/reactory-data
# The APP_SYSTEM_FONTS is the folder that contains the fonts that are
# used by the application.  This should generally be set to the system 
# fonts folder, but the data/fonts folder is included in the reactory-data 
# project that contains most common fonts.
APP_SYSTEM_FONTS=undefined
# The MONGOOSE variable is the connection string for the MongoDB database
# that is used by the application. if left blank, the application will
# use the name of the configuration folder as the database name.
MONGOOSE=mongodb://reactory:reactorycore@reactory-mongodb:27017/reactory-local-reactory?socketTimeoutMS=360000&connectTimeoutMS=360000&authSource=admin
# The MODULES_ENABLED variable is the name of the json file that contains
# the list of modules that are enabled for the application.
MODULES_ENABLED=enabled-reactory
# The CLIENTS_ENABLED variable is the name of the json file that contains
# the list of clients that are enabled for the application.
CLIENTS_ENABLED=enabled-clients.reactory
# The PORT variable is the port that the application will listen on.
API_PORT=4000
# The SENDGRID_API_KEY variable is the API key used to send emails if you want
# to use sendgrid.  If you do not want to use sendgrid, set this to 'SG.disabled'
SENDGRID_API_KEY=SG.disabled
# The API_URI_ROOT is the root URI for the API.  This is used to generate
# links in emails and other places where the API is referenced.
API_URI_ROOT=http://localhost:4000/
# The CDN_ROOT is the root URI for the CDN.  This is used to generate
# links in emails and other places where the CDN is referenced.
CDN_ROOT=http://localhost:4000/cdn/
# The CLUSTER is the name of the cluster that the server is running in.
CLUSTER=podman
# The CLUSTER_NODES is a comma separated list of nodes in the cluster.
CLUSTER_NODES=localhost:4000
# The CLUSTER_MASTERS is a comma separated list of master nodes in the cluster.
# These master nodes will must be able to run ALL modules in the application.
# Non master nodes will only run modules that are enabled for that node.
CLUSTER_MASTERS=local:4000
# The SECRET_SAUCE is the secret key used to sign the JWT tokens.  This
# should be a long, random string. A good example of a random string is
# the output of the following command: openssl rand -base64 32
SECRET_SAUCE=YOUR_SECRET_SAUCE_HERE
# The MODE variable is the mode that the application is running in.  This
# can be DEVELOPMENT, PRODUCTION, or TEST.
MODE=development
# The SYSADMIN_EMAIL is the email address of the system administrator.  This
# email address will be used to send system notifications and other important
# information to the system administrator.
SYSADMIN_EMAIL=system@reactory.net
# The name of the MONGO DB database that the application will use.
MONGO_DB=reactory-local-reactory
# The MONGO_USER is the username used to connect to the MongoDB database.
MONGO_USER=reactory
# The MONGO_PASSWORD is the password used to connect to the MongoDB database.
MONGO_PASSWORD=reactorycore
# The MONGO_HOST is the hostname of the MongoDB database.
MONGO_HOST=reactory-mongodb
# MONGO_PORT is the port that the MongoDB database is running on
# also used by docker-compose
MONGO_PORT=27017
# MONGO_VERSION is the version of the MongoDB database that is running.
# this will be used by docker-compose / podman-compose to pull the correct
# version of the MongoDB image.
MONGO_VERSION=latest

# The MAIL_REDIRECT_ENABLED is a comma separated list of modes that will
# redirect all emails to the MAIL_REDIRECT_ADDRESS.  This is useful for
# testing email functionality without sending emails to real users.
MAIL_REDIRECT_ENABLED=development,production 
# The MAIL_REDIRECT_ADDRESS is the email address that all emails will be
# redirected to if MAIL_REDIRECT_ENABLED is set to true.
MAIL_REDIRECT_ADDRESS=your_email@domain.com

# Microsoft OAUTH
# The OAUTH_APP_ID is the application ID for the Microsoft OAUTH application. You can 
# create an application at https://apps.dev.microsoft.com
MICROSOFT_OAUTH_APP_ID=00000000-0000-0000-0000-000000000000
# The OAUTH_APP_PASSWORD is the application password for the Microsoft OAUTH application. You can
MICROSOFT_OAUTH_APP_PASSWORD=00000000-0000-0000-0000-000000000000
# The OAUTH_REDIRECT_URI is the redirect URI for the Microsoft OAUTH application.  This should
# be set to the URI of the application with the /auth/microsoft/openid/complete path appended.
MICROSOFT_OAUTH_REDIRECT_URI=http://localhost:4000/auth/microsoft/openid/complete
# The OAUTH_SCOPES is a comma separated list of scopes that are requested from the Microsoft
# OAUTH application.  The default scopes are profile, offline_access, user.read, calendars.read,
# mail.read, and email. You can find more information about scopes at https://developer.microsoft.com/en-us/graph/docs/concepts/permissions_reference
MICROSOFT_OAUTH_SCOPES="profile offline_access user.read calendars.read mail.read email"
# The OAUTH_AUTHORITY is the authority for the Microsoft OAUTH application.  This should not
# need to be changed unless you are using a different authority.
MICROSOFT_OAUTH_AUTHORITY=https://login.microsoftonline.com/common
# The OAUTH_ID_METADATA is the metadata endpoint for the Microsoft OAUTH application.  This
MICROSOFT_OAUTH_ID_METADATA=/v2.0/.well-known/openid-configuration
# The OAUTH_AUTHORIZE_ENDPOINT is the authorization endpoint for the Microsoft OAUTH application.
MICROSOFT_OAUTH_AUTHORIZE_ENDPOINT=/oauth2/v2.0/authorize
# The OAUTH_TOKEN_ENDPOINT is the token endpoint for the Microsoft OAUTH application.
MICROSOFT_OAUTH_TOKEN_ENDPOINT=/oauth2/v2.0/token

# The NODE_ENV is the environment that the application is running in.  This
# can be development, production, or test.
NODE_ENV=development


# The I18N_NS is the namespace for the i18n translations.  This should be set to the name of
# the configuration folder. e.g. if you want the system to load translations from the
# $APP_DATA_ROOT/i18n/en-us/acme.json file, then the I18N_NS should be set to 'acme'.
# by default the common.json, forms.json and reactory.json files will be loaded from by i18n.
I18N_NS=reactory
# The APP WHITELIST is a comma separated list of URIs that are allowed to access the API.
REACTORY_APP_WHITELIST=http://localhost:9000,http://localhost:4000,https://studio.apollographql.com,http://reactory-pwa-client:9000

# Reactor Module Configuration
# OpenAI API Key
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
# OpenAI Org
OPENAI_ORG=YOUR_OPENAI_ORG_HERE
# Open AI default model
OPENAI_DEFAULT_MODEL_ID=gpt-4-1106-preview

# meilisearch master key
MEILISEARCH_MASTER_KEY=YOUR_MEILISEARCH_MASTER_KEY_HERE
# meilisearch host
MEILISEARCH_HOST=http://reactory-meilisearch:7700

# Google OAUTH configuration
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE


# The following variables as used for testing
REACTORY_CLIENT_KEY=reactory
REACTORY_CLIENT_PWD=YOUR_REACTORY_CLIENT_PWD_HERE
REACTORY_TEST_USER=YOUR_REACTORY_TEST_USER_HERE
REACTORY_TEST_USER_PWD=YOUR_REACTORY_TEST_USER_PWD_HERE
REACTORY_CLIENT_URL=http://reactory-pwa-client:3000


# MORGAN NETWORK LOGGING
# The MORGAN_MIDDLEWARE_ENABLED is a boolean that determines if morgan logging is enabled.
MORGAN_MIDDLEWARE_ENABLED=true
# The MORGAN_MIDDLEWARE_FILTERS is the filters that will be used to INCLUDE requests.
MORGAN_MIDDLEWARE_FILTERS=

# Postgres Configuration
REACTORY_POSTGRES_HOST=reactory-postgres
REACTORY_POSTGRES_PORT=5432
REACTORY_POSTGRES_USER=reactory
REACTORY_POSTGRES_PASSWORD=YOUR_REACTORY_POSTGRES_PASSWORD_HERE
REACTORY_POSTGRES_DB=reactory

# Reactory Redis Configuration
REACTORY_REDIS_HOST=reactory-redis
REACTORY_REDIS_PORT=6379
REACTORY_REDIS_PASSWORD=YOUR_REACTORY_REDIS_PASSWORD_HERE

# Reactory Grafana Configuration
REACTORY_GRAFANA_HOST=reactory-grafana
REACTORY_GRAFANA_PORT=3001
REACTORY_GRAFANA_USER=admin
REACTORY_GRAFANA_PASSWORD=YOUR_REACTORY_GRAFANA_PASSWORD_HERE

# Grafana Data Sources
REACTORY_GRAFANA_JAEGER_URL=http://reactory-jaeger:16686
REACTORY_GRAFANA_POSTGRES_CONNECTION=postgres://reactory:YOUR_REACTORY_POSTGRES_PASSWORD_HERE@reactory-postgres:5432/reactory

# Reactory JAEGER Configuration
REACTORY_JAEGER_TRACE_EXPORTER_URL=http://reactory-jaeger:4318/v1/traces
REACTORY_JAEGER_METRIC_READER_URL=http://reactory-jaeger:4318/v1/metrics

# Controls whether or not we output the CORS debug info to the log stream.
CORS_DEBUG=true

# Podman configuration
# The following variables are used to configure the podman-compose environment.
# The PODMAN_COMPOSE_PROJECT_NAME is the name of the project that is used by podman-compose.
PODMAN_COMPOSE_PROJECT_NAME=${REACTORY_CONFIG_ID:-reactory}-develop
# If PODMAN_CLEAR_CONTAINERS is set to true, then the podman-compose environment will
# remove all running containers first and replace them with new instances.
PODMAN_CLEAR_CONTAINERS=true

# Override the default docker-compose filename
DOCKER_COMPOSE_FILENAME=docker-compose-develop.yaml